<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Kain LaSalle</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" href="css/responsive.css" />
    <link rel="icon" href="images/fevicon.png" type="image/gif" />
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css" />
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.css" rel="stylesheet" />
  </head>
  <body>
    <!-- header section start -->
    <div class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="logo" href="homepage.html"><img src="images/logo.png" width="250px" height="200px"/></a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="homepage.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="shops.html">Shops</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <div class="login_menu">
                <ul>
                  <li>
                    <a href="#"><img src="images/user-icon.png" /></a>
                  </li>
                  <li>
                    <a href="cart.html"><img src="images/trolly-icon.png" /></a>
                  </li>
                  <li> 
                    <img src="images/search-icon.png"/>
                  </li>
                </ul>
              </div>
            </form>
          </div>
        </nav>
      </div>
    </div>
    <!-- Hero Section -->
    <div class="banner_section banner_bg">
      <div class="container-fluid">
        <div id="my_slider" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="taital_main">
                <div class="taital_left">
                  <h1 class="banner_taital">Welcome Promo</h1>
                  <div class="read_bt"><a href="shop2.html">Order Now</a></div>
                </div>
                <div class="taital_right">
                  <div class="product_img">
                    <img src="images/grouped1.png" />
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="taital_main">
                <div class="taital_left">
                  <h1 class="banner_taital">Rainy Day Promos</h1>
                  <div class="read_bt"><a href="shop2.html">Order Now</a></div>
                </div>
                <div class="taital_right">
                  <div class="product_img">
                    <img src="images/group2.jpg" width="250%" height="10%" />
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="taital_main">
                <div class="taital_left">
                  <h1 class="banner_taital">Weekday Sulit Eats</h1>
                  <div class="read_bt"><a href="#">Read More</a></div>
                </div>
                <div class="taital_right">
                  <div class="product_img">
                    <img src="images/group3.png" width="250%" height="10%" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a
            class="carousel-control-prev"
            href="#my_slider"
            role="button"
            data-slide="prev"
          >
            <i class="fa fa-arrow-up"></i>
          </a>
          <a
            class="carousel-control-next"
            href="#my_slider"
            role="button"
            data-slide="next"
          >
            <i class="fa fa-arrow-down"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- Content -->
    <div class="product_section layout_padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="product_taital">Popular Brands</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="owl-carousel owl-theme">
              <div class="item">
                <div class="image_main">
                    <a href="shop1.html">
                  <img src="images/img1.png" alt="image" />
                </div>
                <h6 class="price_text">
                  Kulpy Chicken
                  <br />
                  <span style="color: #726e6e">20 min </span>
                </h6>
                    </a>
              </div>
              <div class="item">
                <div class="image_main">
                    <a href="shop2.html">
                  <img src="images/img2.png" alt="image" />
                </div>
                <h6 class="price_text">
                  Chowking
                  <br />
                  <span style="color: #726e6e"> 15 min </span>
                </h6>
                    </a>
              </div>
              <div class="item">
                <div class="image_main">
                    <a href="shop3.html">
                  <img src="images/img3.png" alt="image" />
                </div>
                <h6 class="price_text">
                  Jollibee
                  <br />
                  <span style="color: #726e6e"> 10 min </span>
                </h6>
                    </a>
              </div>
              <div class="item">
                <div class="image_main">
                    <a href="shop4.html">
                  <img src="images/img4.png" alt="image" />
                </div>
                <h6 class="price_text">
                  Andok's
                  <br />
                  <span style="color: #726e6e"> 20 min </span>
                </h6>
                    </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <!--Content2-->
    <div class="product_section layout_padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="product_taital">Nearby Your Location</h1>
            <br><a href="shops.html"><p>See more</p></a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="owl-carousel owl-theme">
              <div class="item">
                <div class="image_main">
                    <a href="shop1.html">
                  <img src="images/img1.png" alt="image" />
                </div>
                <h6 class="price_text">
                  Kulpy Chicken
                  <br />
                  <span style="color: #726e6e">20 min </span>
                </h6>
                    </a>
              </div>
              <div class="item">
                <div class="image_main">
                    <a href="shop2.html">
                  <img src="images/img2.png" alt="image" />
                </div>
                <h6 class="price_text">
                  Chowking
                  <br />
                  <span style="color: #726e6e"> 15 min </span>
                </h6>
                    </a>
              </div>
              <div class="item">
                <div class="image_main">
                    <a href="shop3.html">
                  <img src="images/img3.png" alt="image" />
                </div>
                <h6 class="price_text">
                  Jollibee
                  <br />
                  <span style="color: #726e6e"> 10 min </span>
                </h6>
                    </a>
              </div>
              <div class="item">
                <div class="image_main">
                    <a href="shop4.html">
                  <img src="images/bok.png" alt="image" />
                </div>
                <h6 class="price_text">
                  BOK Chicken
                  <br />
                  <span style="color: #726e6e"> 20 min </span>
                </h6>
                    </a>
              </div>
              <div class="item">
                <div class="image_main">
                    <a href="shop5.html">
                  <img src="images/kfc.png" alt="image" />
                </div>
                <h6 class="price_text">
                  KFC
                  <br />
                  <span style="color: #726e6e"> 20 min </span>
                </h6>
                    </a>
              </div>
              <div class="item">
                <div class="image_main">
                    <a href="shop6.html">
                  <img src="images/lainns.png" alt="image" />
                </div>
                <h6 class="price_text">
                  Lainns
                  <br />
                  <span style="color: #726e6e"> 20 min </span>
                </h6>
                    </a>
              </div>
              <div class="item">
                <div class="image_main">
                    <a href="shop7.html">
                  <img src="images/inasal.png" alt="image" />
                </div>
                <h6 class="price_text">
                  Mang Inasal
                  <br />
                  <span style="color: #726e6e"> 20 min </span>
                </h6>
                    </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Scripts -->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="js/plugin.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/owl.carousel.js"></script>
    <script>
      $(".owl-carousel").owlCarousel({
        loop: false,
        margin: 30,
        nav: true,
        responsive: {
          0: {
            items: 1,
          },
          600: {
            items: 3,
          },
          1000: {
            items: 4,
          },
        },
      });
    </script>
    <script>
      function openSearch() {
        document.getElementById("myOverlay").style.display = "block";
      }

      function closeSearch() {
        document.getElementById("myOverlay").style.display = "none";
      }
    </script>
    <!-- User Icon Script -->
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        // Get the user icon element
        const userIcon = document.querySelector(".login_menu img[src='images/user-icon.png']");

        // Add a click event listener to the user icon
        userIcon.addEventListener("click", function() {
          // Redirect to the profile viewing page (replace 'profile.html' with the actual page name)
          window.location.href = "profile.html";
        });
      });
    </script>
  </body>
</html>
